#list-plugins .fieldset-options { display: block; }
#list-plugins #fieldsets h3 { display: block; }

.fieldset-description { padding-bottom: 15px; }

/*#fieldsets h3 { display: none; }*/
#fieldsets #about-tab-content h3 { display: block; margin-top: 0; }
h2#page-title span.star { display: none; }
#content-nav ul li.changed b { font-style: italic; }
#content-nav ul li.changed span { display: inline; }
#content-nav ul li span { display: none; }

#fieldsets .field-type-separator h3 {
    display: block;
    padding-top: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #cddee7;
}

.field-type-radio-image .field-content .hint {
  text-align: left;
}
.field-type-radio-image .field-content {
  text-align: center;
}
.field-type-radio-image .field-content li.selected {
  color: white;
  background-color: #336699;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.field-type-radio-image .field-content li {
  float: left;
  margin-right: 15px;
  padding: 5px 5px 8px 5px;
}
.field-type-radio-image .field-content li input {
  display: none;
}

.colorpicker-container {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(../colorpicker/images/select.png);
}
.colorpicker-container div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(../colorpicker/images/select.png) center;
}

.field-type-link-group label.link-text, .field-type-text-group label.link-text {
  padding-right: 10px;
}

.mt4 .field-type-link-group a.add-link, .mt4 .field-type-text-group a.add-item {
    display: block;
    float: left;
    color: white;
    font-size: 11px;
    background: #999;
    margin: 0 10px 0 0;
    padding: 3px 8px;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.link-group-container li.last { display: inline-block; margin-bottom: 0; }

.field-content .preview {
  float: left;
}

.field-content button {
  color: white;
  float: left;
  font-size: 10px;
  background: #999;
  margin: 0 10px 0 0;
  padding: 3px;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.field-content a.button {
    float: left;
}

.field-content div.hint {
    clear: both;
}

#list-entries-dialog .listing-filter select {
  margin-left: 180px;
  font-size: 13px;
}

.field-header .required-flag { color: #c20000; }

.field .remove-item-button { margin-left: 5px; }

/* Timepicker CSS */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt { float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

.field-content ul {
    padding: 5px 7px 5px 0;
    min-height: 20px;
}

.field-content ul li { padding-bottom: 1px; }
.field-content ul li span.obj-title { padding-right: 5px; }
.field-content ul li a { padding-left: 5px; }

.field-content div.active-container {
    clear: left;
    float: left;
    width: 49%;
    margin-top: 5px;
}

.field-content div.inactive-container {
    clear: none;
    position: relative;
    width: 49%;
    margin-left: 10px;
    float: left;
}
.field-content div.inactive-container p {
    color: #555;
    position: absolute;
    bottom: -5px;
    left: 7px;
    font-size: 11px;
}
.field-content div.inactive-container ul {
    background: #e2e2e2;
    padding: 5px 10px 25px;
}

.field-content ul li.sortable {
    padding-left: 25px;
    cursor: pointer;
    background: url(../images/sortable-small.png) left center no-repeat;
}


.field-content img.remove,
.field-content img.edit {
    margin-left: 5px;
    cursor: pointer;
}

.field-content ul li span.text,
.field-content ul li span.text:hover { border: 0; box-shadow: 0;}
